    <div id="navbar">
        <a href="/">Main</a>
        <a href="/PostImage">Post Images</a>
        <a href="/Registration">Registration</a>
        {{#if isLoggedIn}}
            <a id="logout-button">Log Out</a>
        {{else}}
            <a href="/Login">Login</a>
        {{/if}}
        <div>
            <form class="search"
            method="get"
            action="/posts/search"
            enctype="application/x-www-form-urlencoded">
            <input type="text" id="search-text", name="searchTerm", value={{searchTerm}}>
            <button class="search-button" type="submit" id="search">Search</button> 
            {{!-- keep in mind that "name=" we assign will also appear as a req object --}}  
            </form>
            {{!-- remember that when we searching we are not using the router.get  --}}
        </div>  
    </div>    
    <br>
    