    <div id="navbar">
        <a href="/">Main</a>
        <a href="/PostImage">Post Images</a>
        <a href="/ViewPost">View Posts</a>
        <a href="/Registration">Registration</a>

        {{#if isLoggedIn}}
            <a id="logout-button">Log Out</a>
        {{else}}
            <a href="/Login">Login</a>
        {{/if}}
        
    </div>    
    <br>
    