    <div id="navbar">
        <a href="Index.html">Main</a>
        <a href="Login.html">Login</a>
        <a href="Registration.html">Registration</a>
        <a href="PostImage.html">Post Images</a>
        <a href="ViewPost.html">View Images</a>
    </div>    
    <br>
    