{{!-- <h1> <strong>Welcome to the main page</strong> </h1> --}}

<main id="main-content">
    {{!-- <h2 id="product-counter"></h2>
    <br>
    <div id="product-list" class="product-list">
    </div>
    <br> --}}
</main>


