<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Mystyle.css">
    <title>Make new post</title>
</head>
<body class="background">
    <h1>Making a new post</h1>  

    <div class="container">
        <form>
            <div class="form-group">
                <label for="title">Enter title:</label>
                <input class="form-control" type="text" name="title" id="title" placeholder="Title of your post" required>   
            </div>
            <div class="form-group">
                <label for="description">Enter description: </label> 
                <input class="form-control" type="text" name="description" id="description" placeholder="Description of your post" required>    
            </div>
            <div class="form-group">
                <label for="image">Upload image:</label>
                <input class="form-control" type="file" name="image" id="image" accept="image/*" required>
            </div>
            <div class="form-group">
                <input type="checkbox" name="accept" id="accept"> I hereby agree to the <a href="">Acceptable Use Policy </a> for uploading images
            </div>
            <br>
            <button class="submit-button">Submit</button>
        </form>

</body>
</html>