body{
    background: #eee;
}
.background{
    background-image: url(../Images/stars.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;   
}

/* .background-noimage{
    color: #dbd8d5;
} */

h1 {
    
    background-color: green;
    color: white;
    padding: 50px;
    text-align: center;
    margin: auto;
    height: 45px;   
    font-size: 45px; 
}

/* footer {
    background-color: green;
    color: white;
    padding: 40px;
    margin: auto;
    height: 10px;  
    position: relative;
    top:-4px;    
} */


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
}

#navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
#navbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    padding: 6px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    text-align: center;
}

#navbar a:hover {
    background-color: #000;
}
  
#navbar a.active {
    background-color: #04AA6D;
    text-decoration: underline;
}

.search{
    float: right;
    position: relative;
    top: 5.5px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;    
}

/* .container {
    margin: auto;
    width: 1000px;
    max-width: 90%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 50px; 

} */

.container {
    margin: auto;
    width: 1000px;
    max-width: 90%;
    display: flex;
    justify-content: center;
    padding: 50px; 

}

.container form { /* form inside a class container */
    width: 25%;
    height: 100%;
    padding: 100px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 8px 16px rgb(0, 0, 0,3);
}

.container form .form-control{ /* form-control class inside form class*/
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid silver;
    margin: 10px 0 18px 0;
    padding: 0 10px;
}

.form-group.success input {
    border-color: #09c372;
}
.form-group.error input{
    border-color: #ff3860;
    border-width : thick;
}
.form-group .error{
    color: red;
    position : relative;
    top: -18px;
    font-size: 14px;
}

.container form .submit-button{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height : 34px;
    border: none;
    outline: none;
    background : green;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    position: relative;
    top: 35px;
}

section {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

p {
    margin: auto;
    width: 200px;
}

.product-list {
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;

}

.product-card {
    justify-items: center;
    display: grid;
    grid-template-rows: 1fr 3fr 0.5fr;
    background-color: #d1d4cf;
    border: 1px solid black;
}

.prod-title {
    /* background-color: #b399ff; */
    position: relative;
    bottom: 18px;
    text-align: center;

}

.prod-img {    
    justify-content: center;
}

.prod-url {
    overflow: hidden;
    /* background-color: #b399ff; */
}

h2{
    text-align: center;
}