h1 {
    background-color: green;
    color: white;
    padding: 50px;
    text-align: center;
    margin: auto;
    height: 45px;   
    font-size: 45px; 
}
footer {
    background-color: green;
    color: white;
    padding: 50px;
    text-align: center;
    margin: auto;
    height: 10px;  
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 6px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 16.66%; /* 6 links with equal widths */
    text-align: center;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .navbar a.active {
    background-color: #04AA6D;
    text-decoration: underline;
  }
  


/* nav {
    background-color: gray;
    text-align: center;
    padding: 15px; 
    height: 50px;
    height: 100%;
     
}

a   {
    text-decoration: none;
    font: Segoe UI;

}

a:visited{
    color: black;
}

a:hover{
    color: #ccc; 
    text-decoration: underline;

}
nav a:active{
    text-decoration: solid;
} */

.login{
    
}


.image {
    position: fixed; 
    top: 0; 
    left: 0; 
      
    
    min-width: 100%;
    min-height: 100%;
  }
